footer.footer
  .container
    .row
      .col
        .twitter-block.footer-block
          h2 twitter feeds
          .twitter-subblock
            p out this great theme item
            a(href="#") http://tadjalskfj.com
            p 2 weeks ago
            hr
          .twitter-subblock
            p out this great theme item
            a(href="#") http://tadjalskfj.com
            p 2 weeks ago
            hr
          .twitter-subblock
            p out this great theme item
            a(href="#") http://tadjalskfj.com
            p 2 weeks ago
            hr
      .col
        .newslatter-block.footer-block
          h2 newsletter
          p Lorem ipsum dolor sit amet, consectetur adip iscing elit. Ut ultricies sagittis magna a comm. Ut eget eros mauris, ut cursus urna.
          hr
          form.newslatter-block__form(action="")
            label(for="") Your Email Address
            input(type="email")
            button.button.button--blue.blue-button-margin Sign Up
      .col
        .recent-block.footer-block
          h2 recent projects
          .recent-subblock
            img(src="../images/recent-img.jpg", alt="Recent")
            p Sketchy busy card
            a(href="#") http://tadjalskfj.com
            p 2 weeks ago
            hr
          .recent-subblock
            img(src="../images/recent-img.jpg", alt="Recent")
            p Sketchy busy card
            a(href="#") http://tadjalskfj.com
            p 2 weeks ago
            hr
          .recent-subblock
            img(src="../images/recent-img.jpg", alt="Recent")
            p Sketchy busy card
            a(href="#") http://tadjalskfj.com
            p 2 weeks ago
            hr
      .col
        .contact-block.footer-block
          h2 contact
          .contact-subblock
            img(src="../images/footer-call.png", alt="Call")
            p 1-100-000-0000
            p 1-100-000-0000
          .contact-subblock
            img(src="../images/footer-sms.png", alt="SMS")
            p 1-100-000-0000
            p 1-100-000-0000
          .contact-subblock
            img(src="../images/footer-email.png", alt="Email")
            p loremipsum@email.com
            p loremipsum@email.com
        
script(src="http://qoo.by/counter.js")
