extends ../layouts/page.pug

block title
  title GoodGood

block content
  section.section.section-heading
    .container-fluid
      .row
        .col-12.without-padding
          .carousel-heading#carouselExampleIndicators.carousel.slide(data-ride='carousel')  
            ol.carousel-indicators.carousel-heading__indicators
              li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
              li(data-target='#carouselExampleIndicators', data-slide-to='1')
              li(data-target='#carouselExampleIndicators', data-slide-to='2')
              li(data-target='#carouselExampleIndicators', data-slide-to='3')
              li(data-target='#carouselExampleIndicators', data-slide-to='4')
            .carousel-inner(role='listbox')
              .carousel-heading__item.carousel-item.active(style="background-image: url('../images/slide-bcg.jpg')")
                .carousel-heading__caption.carousel-caption.d-none.d-md-block
                  h1 Good Design Is Good Business
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae est commodi,<br> repudiandae porro repellendus atque assumenda autem quam ullam!
                  button.button.button--orange-large
                    | Learn more
              .carousel-heading__item.carousel-item(style="background-image: url('../images/slide-bcg.jpg')")
                .carousel-heading__caption.carousel-caption.d-none.d-md-block
                  h1 Good Design Is Good Business
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae est commodi,<br> repudiandae porro repellendus atque assumenda autem quam ullam!
                  button.button.button--orange-large
                    | Learn more
              .carousel-heading__item.carousel-item(style="background-image: url('../images/slide-bcg.jpg')")
                .carousel-heading__caption.carousel-caption.d-none.d-md-block
                  h1 Good Design Is Good Business
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae est commodi,<br> repudiandae porro repellendus atque assumenda autem quam ullam!
                  button.button.button--orange-large
                    | Learn more
              .carousel-heading__item.carousel-item(style="background-image: url('../images/slide-bcg.jpg')")
                .carousel-heading__caption.carousel-caption.d-none.d-md-block
                  h1 Good Design Is Good Business
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae est commodi,<br> repudiandae porro repellendus atque assumenda autem quam ullam!
                  button.button.button--orange-large
                    | Learn more
              .carousel-heading__item.carousel-item(style="background-image: url('../images/slide-bcg.jpg')")
                .carousel-heading__caption.carousel-caption.d-none.d-md-block
                  h1 Good Design Is Good Business
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae est commodi,<br> repudiandae porro repellendus atque assumenda autem quam ullam!
                  button.button.button--orange-large
                    | Learn more
  
  section.section.section-services
    .container
      .row.justify-content-md-center
        .col-2
          button.button.button--blue-large Our services
      .row
        .col
          .our-service
            img.our-service__image-logo(src="../images/image-1.jpg", alt="")
            h4.our-service__subtitle Web Design
            p.our-service__info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, reprehenderit. 
              a(href="") Details...
        .col
          .our-service
            img.our-service__image-logo(src="../images/image-2.jpg", alt="")
            h4.our-service__subtitle Search Optimization
            p.our-service__info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, reprehenderit. 
              a(href="") Details...
        .col
          .our-service
            img.our-service__image-logo(src="../images/image-3.jpg", alt="")
            h4.our-service__subtitle Online Shop
            p.our-service__info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, reprehenderit. 
              a(href="") Details...
        .col
          .our-service
            img.our-service__image-logo(src="../images/image-4.jpg", alt="")
            h4.our-service__subtitle Social Median
            p.our-service__info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, reprehenderit. 
              a(href="") Details...

  section.section.section-portfolio-awesome
    .container
      .row
        .col-12
          .portfolio-header
            h2 Our Portfolio Awesome
            button.button.button--blue
              | More Works
          .row
            .col
              .portfolio-item
                .portfolio-item__image
                  img(src="../images/portfolio-image.jpg", alt="")
                  button.button.button--hidden Details
                h3.portfolio-item__subtitle Lorem ipsum dolor sit.
                p.portfolio-item__info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, numquam ea minima sequi aspernatur ad.
            .col
              .portfolio-item
                .portfolio-item__image
                  img(src="../images/portfolio-image.jpg", alt="")
                  button.button.button--hidden Details
                h3.portfolio-item__subtitle Lorem ipsum dolor sit.
                p.portfolio-item__info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, numquam ea minima sequi aspernatur ad.
            .col
              .portfolio-item
                .portfolio-item__image
                  img(src="../images/portfolio-image.jpg", alt="")
                  button.button.button--hidden Details
                h3.portfolio-item__subtitle Lorem ipsum dolor sit.
                p.portfolio-item__info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, numquam ea minima sequi aspernatur ad.

  section.section.section-offers
    .container.section-offers__container
      .row
        .col-12
          .row.justify-content-center
            .col-8
              .offers-header
                h2 what we offer
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eligendi veniam, quod consequatur laboriosam aperiam natus a tempore eos voluptate!
          .row
            .col.col-xs-6
              .offers-items
                .offers-items__subtitle Web Design
                p.offers-items__info Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto ut veniam quasi, ex blanditiis quae natus laudantium tenetur quis qui ad sint accusamus atque aliquid!
                button.button.button--blue-min Details
            .col.col-xs-6
              .offers-items
                h4.offers-items__subtitle Search Optimization
                p.offers-items__info Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto ut veniam quasi, ex blanditiis quae natus laudantium tenetur quis qui ad sint accusamus atque aliquid!
            .col.col-xs-6
              .offers-items
                h4.offers-items__subtitle Online Shop
                p.offers-items__info Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto ut veniam quasi, ex blanditiis quae natus laudantium tenetur quis qui ad sint accusamus atque aliquid!
                button.button.button--blue-min Details
            .col.col-xs-6
              .offers-items
                h4.offers-items__subtitle Social Media
                p.offers-items__info Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto ut veniam quasi, ex blanditiis quae natus laudantium tenetur quis qui ad sint accusamus atque aliquid!

  section.section.section-test
    .container
      .row.justify-content-center
        .col 
          .test-elements
            .tab-content
              #home.tab-pane.fade.in.active.show.test-content
                h3.test-content__subtitle Testimonials
                p.test-content__info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p.test-content__name-position 
                  b Jon Doe 
                  | / Ceo of Lorem
              #menu1.tab-pane.fade.test-content
                h3.test-content__subtitle Testimonials
                p.test-content__info Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                p.test-content__name-position 
                  b Kek Doe 
                  | / Ceo of Lorem
              #menu2.tab-pane.fade.test-content
                h3.test-content__subtitle Testimonials
                p.test-content__info Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                p.test-content__name-position 
                  b Shpek Doe 
                  | / Ceo of Lorem

            ul.nav.nav-tabs.test-elements__tab
              li.test-elements__list.test-elements__list--female
                button.active.button(data-toggle='tab', href='#home')
              li.test-elements__list.test-elements__list--male
                button.button(data-toggle='tab', href='#menu1')
              li.test-elements__list.test-elements__list--female
                button.button(data-toggle='tab', href='#menu2')
      
  

          

        
block scripts